<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Recommender System</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
    }
    body {
      font-family: "Poppins", sans-serif;
      background-image: linear-gradient(rgb(255, 182, 182), hsl(53, 100%, 88%));
      background-repeat: no-repeat;
      height: 100vh;
    }
    img {
      height: 300px;
      width: 500px;
      margin: 20px;
      border-radius: 12px;
    }
  </style>
  <body style="background-color: black">
    <h1>OOPS!!</h1>
    <h2>There's No Such Book</h2>
    <img
      src="https://img.freepik.com/free-vector/tiny-people-examining-operating-system-error-warning-web-page-isolated-flat-illustration_74855-11104.jpg?w=1060&t=st=1682355178~exp=1682355778~hmac=9bff5a4b5050d804bc31a3365e09b6ce6eec1c58afc016d17cde195603d502e3"
    />
  </body>
</html>
